# Netflix Data: Cleaning, Analysis and Visualisation

## 1.0 Discussing the dataset
There is a single dataset that is being used, the netflix1.csv. This file was obtained from [Kaggle](https://www.kaggle.com/datasets/ariyoomotade/netflix-data-cleaning-analysis-and-visualization) and it is an already cleaned version of another file.

This data set consist on contents added to Netflix from 2008 to 2021. The variables of this data set are:
- *show_id*: Netflix ID of the media.
- *Type*: Movie or TV Show.
- *title*: Title of the media.
- *director*: Director of the media.
- *country*: Country in which the movie was made.
- *date_added*: Date in which the media was added.
- *release_year*: Year in which the media was released.
- *rating*: Age rating of the media.
- *duration*: Duration of the media.
- *listen_in*: Classification given by Netflix.

## 2.0 Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

## 3.0 Gathering
In this section of the report, we will gather the dataset and turn it into a DataFrame.

In [49]:
# Importing the data from a csv file to a DataFrame
df = pd.read_csv('netflix1.csv')
# Showing the first five values of the DataFrame
df.head()

,show_id,type,title,director,country,date_added,release_year,rating,duration,listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9/25/2021,2020,PG-13,90 min,Documentaries
1,s3,TV Show,Ganglands,Julien Leclercq,France,9/24/2021,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
2,s6,TV Show,Midnight Mass,Mike Flanagan,United States,9/24/2021,2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries"
3,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,9/22/2021,2021,TV-PG,91 min,"Children & Family Movies, Comedies"
4,s8,Movie,Sankofa,Haile Gerima,United States,9/24/2021,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies"

## 4.0 Assessing
This section of the report we will assess any issues the data may have.

In [80]:
# Let's check the status of the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8790 entries, 0 to 8789
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8790 non-null   object
 1   type          8790 non-null   object
 2   title         8790 non-null   object
 3   director      8790 non-null   object
 4   country       8790 non-null   object
 5   date_added    8790 non-null   object
 6   release_year  8790 non-null   int64
 7   rating        8790 non-null   object
 8   duration      8790 non-null   object
 9   listed_in     8790 non-null   object
dtypes: int64(1), object(9)
memory usage: 686.8+ KB

In [51]:
df.describe()

       release_year
count   8790.000000
mean    2014.183163
std        8.825466
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [82]:
# Checking if there are any duplicates
df.duplicated().value_counts()

False    8790
dtype: int64

In [53]:
df.groupby('duration').count().sort_values(by='show_id',ascending=False)

,show_id,type,title,director,country,date_added,release_year,rating,listed_in
duration,,,,,,,,,
1 Season,1791,1791,1791,1791,1791,1791,1791,1791,1791
2 Seasons,421,421,421,421,421,421,421,421,421
3 Seasons,198,198,198,198,198,198,198,198,198
90 min,152,152,152,152,152,152,152,152,152
94 min,146,146,146,146,146,146,146,146,146
...,...,...,...,...,...,...,...,...,...
201 min,1,1,1,1,1,1,1,1,1
200 min,1,1,1,1,1,1,1,1,1
196 min,1,1,1,1,1,1,1,1,1
43 min,1,1,1,1,1,1,1,1,1
10 min,1,1,1,1,1,1,1,1,1

In [70]:
# Let's perform a basic visual analysis of the data.
# pd.set_option('display.max_rows', 220)
df.groupby('duration').count().sort_values(by='show_id',ascending=False)

           show_id  type  title  director  country  date_added  release_year  rating  listed_in
duration
1 Season      1791  1791   1791      1791     1791        1791          1791    1791       1791
2 Seasons      421   421    421       421      421         421           421     421        421
3 Seasons      198   198    198       198      198         198           198     198        198
90 min         152   152    152       152      152         152           152     152        152
94 min         146   146    146       146      146         146           146     146        146
...            ...   ...    ...       ...      ...         ...           ...     ...        ...
201 min          1     1      1         1        1           1             1       1          1
200 min          1     1      1         1        1           1             1       1          1
196 min          1     1      1         1        1           1             1       1          1
43 min           1     1      1         1        1           1             1       1          1
10 min           1     1      1         1        1           1             1       1          1

[220 rows x 9 columns]

### 4.1 Assessment & Categorising

#### 4.1.1 Quality issue
- Variable 'date_added is of type 'object' instead of datetime.

#### 4.1.2 Tidiness issue
- The 'listen_in' variable has several categories in a single observation.